<?xml version="1.0" encoding="UTF-8"?>
<!--
The following is the configuration for how the DataKeeper tool will associate the data within the databases
-->
<KeyObjects>
    <KeyObject id="0" name="Member">
        
        <table name="Member" value="T_MEMBER">
            <database>"womensso_wsc"</database>
            <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column>
            <column name="Username" datatype="varchar">USERNAME</column>
            <column name="Last Name" datatype="varchar">LAST_NAME</column>
            <column name="Middle Initial" datatype="char">MIDDLE_INITIAL_TEXT</column>
            <column name="First Name" datatype="varchar">FIRST_NAME</column>
            <column name="Birthdate" datatype="date">BIRTH_DATE</column>
            <column name="Most Recent Level" datatype="char" class="lookup" lookupTable="T_LEVEL" >MOST_RECENT_LEVEL_CODE_CHAR</column>
            <column name="Total Years Experience" datatype="char">TOTAL_EXPERIENCE_YEARS_CATEGORY_CODE</column>      
            <column name="Last Years Played" datatype="char">LAST_PLAYED_YEARS_CATEGORY_CODE</column>
            <column name="Number of Children" datatype="tinyint">NUMBER_OF_CHILDREN_QUANTITY</column>
            <column name="Photograph" datatype="varchar">PHOTOGRAPH_DIRECTORY_TEXT</column>
            <column name="Date Enrolled" datatype="datetime">MEMBER_ENROLLMENT_DATETIME</column>
            <column name="Date Last Updated" datatype="datetime">MEMBER_LAST_UPDATE_DATETIME</column>
            <column name="Health Insurance Indicator" datatype="char">HEALTH_INSURANCE_INDICATOR</column>
        </table>   
        <table name="Health Insurance" value="T_HEALTH_INSURANCE">
            <database>"womensso_wsc"</database>
           <!-- <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column> -->
           <!-- <column name="Order Level Code" datatype="char">ORDER_LEVEL_CODE</column> -->
            <column name="Company Name" datatype="varchar">COMPANY_NAME</column>
            <column name="Holder Name" datatype="varchar">HOLDER_NAME</column>
            <column name="Policy ID" datatype="varchar">POLICY_IDENTIFIER</column>
            <column name="Group ID" datatype="varchar">HOLDER_NAME</column>
        </table>        
        <table name="Volunteer Opportunity" value="T_VOLUNTEER_OPPORTUNITY">
            <database>"womensso_wsc"</database>
            <!-- <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column> -->
            <column name="Opportunities" datatype="varchar" class="lookup" lookupTable="T_VOLUNTEER_OPPORTUNITY_CODE">VOLUNTEER_OPPORTUNITY_CODES</column>
        </table>
        <table name="Address" value="T_ADDRESS">
            <database>"womensso_wsc"</database>
            <!-- <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column> -->
            <!-- <column name="Order Level Code" datatype="char">ORDER_LEVEL_CODE</column> -->
            <column name="Street Address Line 1" datatype="varchar">STREET_ADDRESS_LINE1_TEXT</column>
            <column name="Street Address Line 2" datatype="varchar">STREET_ADDRESS_LINE2_TEXT</column>
            <column name="City" datatype="varchar">CITY_TEXT</column>
            <column name="State" datatype="varchar" class="lookup" lookupTable="T_STATE">T_STATE_ABBREVIATION_CODE</column>
            <column name="Zip Code" datatype="char">FIVE_DIGIT_POSTAL_CODE</column>
        </table>
        <table name="Occupation" value="T_OCCUPATION">
            <database>"womensso_wsc"</database>
            <!-- <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column> -->
            <!-- <column name="Order Level Code" datatype="char">ORDER_LEVEL_CODE</column> -->
            <column name="Occupation" datatype="varchar">OCCUPATION_TITLE_NAME</column>
            <column name="Employer" datatype="varchar">EMPLOYER_NAME</column>
        </table>
        <table name="Contact" value="T_CONTACT">
            <database>"womensso_wsc"</database>
            <!-- <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column> -->
            <column name="Email" datatype="varchar">EMAIL</column>
            <column name="Primary Phone Type" datatype="char" class="lookup" lookupTable="T_CONTACT_TYPE">PRIMARY_PHONE_TYPE</column>
            <column name="Primary Phone" datatype="varchar">PRIMARY_PHONE</column>
            <column name="Secondary Phone Type" datatype="char" class="lookup" lookupTable="T_CONTACT_TYPE">SECONDARY_PHONE_TYPE</column>
            <column name="Secondary Phone" datatype="varchar">SECONDARY_PHONE</column>
            <column name="Tertiary Phone Type" datatype="char" class="lookup" lookupTable="T_CONTACT_TYPE">TERTIARY_PHONE_TYPE</column>
            <column name="Tertiary Phone" datatype="varchar">TERTIARY_PHONE</column>
        </table>
        <table name="Emergency Contact" value="T_EMERGENGY_CONTACT">
            <database>"womensso_wsc"</database>
            <!-- <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column> -->
            <column name="Primary Name" datatype="varchar">PRIMARY_NAME</column>
            <column name="Primary Phone" datatype="varchar">PRIMARY_PHONE</column>
            <column name="Secondary Name" datatype="varchar">SECONDARY_NAME</column>
            <column name="Secondary Phone" datatype="varchar">SECONDARY_PHONE</column>
        </table>
        <table name="Medical Condition" value="T_MEDICAL_CONDITION">
            <database>"womensso_wsc"</database>
            <!-- <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column> -->
            <column name="Allergies" datatype="varchar">ALLERGIES</column>
            <column name="Medical Condition Comment" datatype="varchar">MEDICAL_CONDITION_COMMENT_TEXT</column>
        </table>
        <table name="Registration Request" value="T_REGISTRATION_REQUEST">
            <database>"womensso_wsc"</database>
            <!-- <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column> -->
            <column name="Registration Request ID" datatype="tinyint">REGISTRATION_REQUEST_IDENTIFIER</column>
            <column name="WSC League" datatype="char" class="lookup" lookupTable="T_WSC_LEAGUE">WSC_LEAGUE_CODE</column>
            <column name="Position" datatype="char" class="lookup" lookupTable="T_PLAYER_POSITION">POSITION_CODE</column>
            <column name="WSC Team" datatype="varchar">WSC_TEAM_NAME</column>
            <column name="Payment Processed" datatype="tinyint">REGISTRATION_PAYMENT_PROCESSED</column>
            <column name="High School" datatype="varchar">HIGHSCHOOL_ATTENDED</column>
            <column name="College" datatype="varchar">COLLEGE_ATTENDED</column>
        </table>
        <table name="Consent Agreement" value="T_CONSENT_AGREEMENT" >
            <database>"womensso_wsc"</database>
            <!-- <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column> -->
            <column name="Consent Agreement" datatype="varchar" class="lookup" lookupTable="T_CONSENT_AGREEMENT_OBJECT">CONSENT_OBJECT_TYPE_CODE</column>
            <column name="Consent Approved" datatype="char">CONSENT_APPROVAL_INDICATOR</column>
            <column name="Date" datatype="date">CONSENT_DATE</column>
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Player</KeyObject>
            <KeyObject>Administrator</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="1" name="Player">
        
        
        <table name="Player Details" value="T_PLAYERS">
           <database>"womensso_sessionmanagement"</database>
           <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column>
           <column name="Team ID" datatype="int">TEAM_IDENTIFIER</column>
           <column name="Player Rank Code" datatype="varchar">PLAYER_RANK_CODE</column>
           <column name="Player Status" datatype="varchar">PLAYER_STATUS</column>
           <column name="Jersey Number" datatype="int">JERSEY_NUMBER</column>
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Member</KeyObject>
            <KeyObject>RSVP</KeyObject>
            <KeyObject>GI</KeyObject>
            <KeyObject>Fee</KeyObject>
            <KeyObject>Team</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="2" name="Administrator">
        
        
        <table name="Administrator Details" value="T_ADMINISTRATORS">
           <database>"womensso_sessionmanagement"</database>
           <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column>
           <column name="Administrator ID" datatype="int">ADMINISTRATOR_IDENTIFIER</column>
           <column name="Administrator Page ID" datatype="int">ADMINISTRATOR_PAGE_IDENTIFIER</column>
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Member</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="3" name="RSVP">
        
        
        <table name="RSVP Details" value="T_RSVP">
           <database>"womensso_sessionmanagement"</database>
           <!-- <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column> -->
           <column name="RSVP ID" datatype="int">RSVP_IDENTIFIER</column>
           <column name="Game ID" datatype="int">GAME_IDENTIFIER</column>
           <column name="Is attending?" datatype="varchar">ATTENDENCE_STATUS</column>
           <column name="Num Emils Sent" datatype="int">EMAILS_SENT</column> 
           <column name="Last Day Sent" datatype="date">DAY_SENT</column>
           <column name="Memo" datatype="int">MEMO</column>
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Player</KeyObject>
            <KeyObject>Game</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="4" name="GI">
        
        
        <table name="GI Details" value="T_GI">
           <database>"womensso_sessionmanagement"</database>
           <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column>
           <column name="GI ID" datatype="int">GI_IDENTIFIER</column>
           <column name="GI Type" datatype="int" class="lookup" lookupTable="T_GI_TYPES">GI_TYPE_IDENTIFIER</column>
           <column name="Year" datatype="varchar" >Year</column> 
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Player</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="5" name="Fee">
        
        
        <table name="Fee Details" value="TI_FEES">
           <database>"womensso_money"</database>
           <column name="Member ID" datatype="int">MEMBER_IDENTIFIER</column>
           <column name="Fee ID" datatype="int">MEMBER_FEE_IDENTIFIER</column>
           <column name="Team ID" datatype="int">TEAM_IDENTIFIER</column>
           <column name="Fee Discriptor" datatype="varchar" >FEE_DISCRIPTOR</column> 
           <column name="Amount" datatype="float">Amount</column>
           <column name="Is Paid?" datatype="int">IS_PAID</column>
           <column name="Date Assigned" datatype="date">DATE_ASSIGNED</column>
           <column name="Date Paid" datatype="date">DATE_PAID</column>
           <column name="Paypal Transaction ID" datatype="varchar">TRANSACTION_IDENTIFIER</column>
           <column name="Memo" datatype="varchar" >MEMO</column>  
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Player</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="6" name="Team">
        
        
        <table name="Team Details" value="T_TEAMS">
           <database>"womensso_sessionmanagement"</database>
           <column name="Team ID" datatype="int">TEAM_IDENTIFIER</column>
           <column name="Team Name" datatype="varchar">TEAM_NAME</column>
           <column name="Division ID" datatype="int">DIVISION_IDENTIFIER</column>
           <column name="Team Logo" datatype="varchar">TEAM_LOGO</column>
           <column name="Active RSVP?" datatype="int">RSVP_ACTIVE</column>
           <column name="Substitute RSVP?" datatype="int">RSVP_SUBSTITUTE</column>
           <column name="Inactive RSVP?" datatype="int">RSVP_INACTIVE</column>
            
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Player</KeyObject>
            <KeyObject>Division</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>TEAM_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="7" name="Divison">
        
        
        <table name="Division Details" value="T_DIVISIONS">
           <database>"womensso_sessionmanagement"</database>
           <column name="Division ID" datatype="int">DIVISION_IDENTIFIER</column>
           <column name="Division Name" datatype="varchar">DIVISIION_NAME</column>
           <column name="League ID" datatype="int">LEAGUE_IDENTIFIER</column> 
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Team</KeyObject>
            <KeyObject>League</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>DIVISION_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="8" name="League">
        
        
        <table name="League Details" value="T_LEAGUES">
           <database>"womensso_sessionmanagement"</database>
           <column name="League ID" datatype="int">LEAGUE_IDENTIFIER</column>
           <column name="League Name" datatype="varchar">LEAGUE_NAME</column>
           <column name="Session ID" datatype="int">SESSION_IDENTIFIER</column> 
           <column name="Start Date" datatype="date">START_DATE</column> 
           <column name="End Date" datatype="date">END_DATE</column> 
           <column name="Fee Start Date" datatype="date">FEE_START_DATE</column> 
           <column name="Fee End Date" datatype="date">FEE_END_DATE</column> 
           <column name="Fee Amount" datatype="int">FEE_AMOUNT</column> 
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Division</KeyObject>
            <KeyObject>Session</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>DIVISION_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="9" name="Session">
        
        
        <table name="Session Details" value="T_SESSIONS">
            <database>"womensso_sessionmanagement"</database>
            <column name="Session ID" datatype="int">SESSION_IDENTIFIER</column>
            <column name="Session Name" datatype="varchar">SESSION_NAME</column>
            <column name="Is New?" datatype="int">NEW</column>
        </table>
        
        <relatedKeyObjects>
            <KeyObject>League</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>DIVISION_IDENTIFIER</RelationshipColumn>
    </KeyObject>
</KeyObjects>
