<?xml version="1.0" encoding="UTF-8"?>
<!--
The following is the configuration for how the DataKeeper tool will associate the data within the databases
-->
<KeyObjects>
    <KeyObject id="0" name="Member" labelColumns="womensso_wsc.T_MEMBER.LAST_NAME,womensso_wsc.T_MEMBER.FIRST_NAME,womensso_wsc.T_MEMBER.MIDDLE_INITIAL_TEXT">
        
        <table name="Member" value="T_MEMBER">
            <database>womensso_wsc</database>
            <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column>
            <column name="Username" datatype="varchar(256)">USERNAME</column>
            <column name="Last Name" datatype="varchar(40)">LAST_NAME</column>
            <column name="Middle Initial" datatype="char(1)">MIDDLE_INITIAL_TEXT</column>
            <column name="First Name" datatype="varchar(40)">FIRST_NAME</column>
            <column name="Birthdate" datatype="date">BIRTH_DATE</column>
            <column name="Most Recent Level" datatype="char(3)" class="lookup" lookupTable="T_LEVEL" lookupColumn="LEVEL_DESCRIPTION" lookupShadow="LEVEL_CODE">MOST_RECENT_LEVEL_CODE_CHAR</column>
            <column name="Total Years Experience" datatype="char(3)" lookupTable="T_YEARS_CATEGORY_CODE" lookupColumn="YEARS_CATOGORY_DESCRIPTION" lookupShadow="YEARS_CATEGORY_CODE">TOTAL_EXPERIENCE_YEARS_CATEGORY_CODE</column>      
            <column name="Last Years Played" datatype="char(3)" lookupTable="T_YEARS_CATEGORY_CODE" lookupColumn="YEARS_CATOGORY_DESCRIPTION" lookupShadow="YEARS_CATEGORY_CODE">LAST_PLAYED_YEARS_CATEGORY_CODE</column>
            <column name="Number of Children" datatype="tinyint(4)">NUMBER_OF_CHILDREN_QUANTITY</column>
            <column name="Photograph" datatype="varchar(100)">PHOTOGRAPH_DIRECTORY_TEXT</column>
            <column name="Date Enrolled" datatype="datetime">MEMBER_ENROLLMENT_DATETIME</column>
            <column name="Date Last Updated" datatype="datetime">MEMBER_LAST_UPDATE_DATETIME</column>
            <column name="Health Insurance Indicator" datatype="char(1)">HEALTH_INSURANCE_INDICATOR</column>
        </table>   
        <table name="Health Insurance" value="T_HEALTH_INSURANCE">
            <database>womensso_wsc</database>
           <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
           <!-- <column name="Order Level Code" datatype="char(3)">ORDER_LEVEL_CODE</column> -->
            <column name="Company Name" datatype="varchar(40)">COMPANY_NAME</column>
            <column name="Holder Name" datatype="varchar(80)">HOLDER_NAME</column>
            <column name="Policy ID" datatype="varchar(20)">POLICY_IDENTIFIER</column>
            <column name="Group ID" datatype="varchar(20)">GROUP_NAME</column>
        </table>        
        <table name="Volunteer Opportunity" value="T_VOLUNTEER_OPPORTUNITY">
            <database>womensso_wsc</database>
            <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
            <column name="Opportunities" datatype="varchar(200)" class="lookup" lookupTable="T_VOLUNTEER_OPPORTUNITY_CODE" lookupColumn="VOLUNTEER_OPPORTUNITY_DESCRIPTION">VOLUNTEER_OPPORTUNITY_CODES</column>
        </table>
        <table name="Address" value="T_ADDRESS">
            <database>womensso_wsc</database>
            <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
            <!-- <column name="Order Level Code" datatype="CHAR(3) class="lookup" lookupTable="T_ORDER_LEVEL" lookupColumn="ORDER_LEVEL_DESCRIPTION"">ORDER_LEVEL_CODE</column> -->
            <column name="Street Address Line 1" datatype="varchar(40)">STREET_ADDRESS_LINE1_TEXT</column>
            <column name="Street Address Line 2" datatype="varchar(40)">STREET_ADDRESS_LINE2_TEXT</column>
            <column name="City" datatype="varchar(30)">CITY_TEXT</column>
            <column name="State" datatype="varchar(2)" class="lookup" lookupTable="T_STATE" lookupColumn="STATE_NAME">T_STATE_ABBREVIATION_CODE</column>
            <column name="Zip Code" datatype="char(5)">FIVE_DIGIT_POSTAL_CODE</column>
        </table>
        <table name="Occupation" value="T_OCCUPATION">
            <database>womensso_wsc</database>
            <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
            <!-- <column name="Order Level Code" datatype="char(3)">ORDER_LEVEL_CODE</column> -->
            <column name="Occupation" datatype="varchar(40)">OCCUPATION_TITLE_NAME</column>
            <column name="Employer" datatype="varchar(40)">EMPLOYER_NAME</column>
        </table>
        <table name="Contact" value="T_CONTACT">
            <database>womensso_wsc</database>
            <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
            <column name="Email" datatype="varchar(320)">EMAIL</column>
            <column name="Primary Phone Type" datatype="char(3)" class="lookup" lookupTable="T_CONTACT_TYPE" lookupColumn="CONTACT_TYPE_DESCRIPTION" lookupShadow="CONTACT_TYPE_CODE">PRIMARY_PHONE_TYPE</column>
            <column name="Primary Phone" datatype="varchar(256)">PRIMARY_PHONE</column>
            <column name="Secondary Phone Type" datatype="char(3)" class="lookup" lookupTable="T_CONTACT_TYPE" lookupColumn="CONTACT_TYPE_DESCRIPTION" lookupShadow="CONTACT_TYPE_CODE">SECONDARY_PHONE_TYPE</column>
            <column name="Secondary Phone" datatype="varchar(266)">SECONDARY_PHONE</column>
            <column name="Tertiary Phone Type" datatype="char(3)" class="lookup" lookupTable="T_CONTACT_TYPE" lookupColumn="CONTACT_TYPE_DESCRIPTION" lookupShadow="CONTACT_TYPE_CODE">TERTIARY_PHONE_TYPE</column>
            <column name="Tertiary Phone" datatype="varchar(256)">TERTIARY_PHONE</column>
        </table>
        <table name="Emergency Contact" value="T_EMERGENGY_CONTACT">
            <database>womensso_wsc</database>
            <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
            <column name="Primary Name" datatype="varchar(100)">PRIMARY_NAME</column>
            <column name="Primary Phone" datatype="varchar(256)">PRIMARY_PHONE</column>
            <column name="Secondary Name" datatype="varchar(100)">SECONDARY_NAME</column>
            <column name="Secondary Phone" datatype="varchar(256)">SECONDARY_PHONE</column>
        </table>
        <table name="Medical Condition" value="T_MEDICAL_CONDITION">
            <database>womensso_wsc</database>
            <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
            <column name="Allergies" datatype="varchar(100)">ALLERGIES</column>
            <column name="Medical Condition Comment" datatype="varchar(100)">MEDICAL_CONDITION_COMMENT_TEXT</column>
        </table>
        <table name="Registration Request" value="T_REGISTRATION_REQUEST">
            <database>womensso_wsc</database>
            <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
            <column name="Registration Request ID" datatype="tinyint(4)">REGISTRATION_REQUEST_IDENTIFIER</column>
            <column name="WSC League" datatype="char(3)" class="lookup" lookupTable="T_WSC_LEAGUE" lookupColumn="WSC_LEAGUE_DISCRIPTION">WSC_LEAGUE_CODE</column>
            <column name="Position" datatype="char(3)" class="lookup" lookupTable="T_PLAYER_POSITION" lookupColumn="POSTION_DISCRIPTION">POSITION_CODE</column>
            <column name="WSC Team" datatype="varchar(20)">WSC_TEAM_NAME</column>
            <column name="Payment Processed" datatype="tinyint(1)">REGISTRATION_PAYMENT_PROCESSED</column>
            <column name="High School" datatype="varchar(50)">HIGHSCHOOL_ATTENDED</column>
            <column name="College" datatype="varchar(50)">COLLEGE_ATTENDED</column>
        </table>
        <table name="Consent Agreement" value="T_CONSENT_AGREEMENT" >
            <database>womensso_wsc</database>
            <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
            <column name="Consent Agreement" datatype="varchar(3)" class="lookup" lookupTable="T_CONSENT_AGREEMENT_OBJECT" lookupColumn="CONSENT_OBJECT_DESCRITION">CONSENT_OBJECT_TYPE_CODE</column>
            <column name="Consent Approved" datatype="char(1)">CONSENT_APPROVAL_INDICATOR</column>
            <column name="Date" datatype="date">CONSENT_DATE</column>
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Player</KeyObject>
            <KeyObject>Administrator</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="1" name="Player" labelColumns="womensso_wsc.T_MEMBER.LAST_NAME,womensso_wsc.T_MEMBER.FIRST_NAME,womensso_wsc.T_MEMBER.MIDDLE_INITIAL_TEXT">
        
        
        <table name="Player Details" value="T_PLAYERS">
           <database>womensso_sessionmanagement</database>
           <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column>
           <column name="Team ID" datatype="int(11)" class="lookup" lookupTable="T_TEAMS" lookupColumn="TEAM_NAME">TEAM_IDENTIFIER</column>
           <column name="Player Rank Code" datatype="varchar(11)">PLAYER_RANK_CODE</column>
           <column name="Player Status" datatype="varchar(25)">PLAYER_STATUS</column>
           <column name="Jersey Number" datatype="int(11)">JERSEY_NUMBER</column>
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Member</KeyObject>
            <KeyObject>RSVP</KeyObject>
            <KeyObject>GI</KeyObject>
            <KeyObject>Fee</KeyObject>
            <KeyObject>Team</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="2" name="Administrator" labelColumns="womensso_wsc.T_MEMBER.LAST_NAME,womensso_wsc.T_MEMBER.FIRST_NAME,womensso_wsc.T_MEMBER.MIDDLE_INITIAL_TEXT">
        
        
        <table name="Administrator Details" value="T_ADMINISTRATORS" labelColumns="womensso_wsc.T_MEMBER.LAST_NAME,womensso_wsc.T_MEMBER.FIRST_NAME,womensso_wsc.T_MEMBER.MIDDLE_INITIAL_TEXT">
           <database>womensso_sessionmanagement</database>
          <!--  <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> --> 
           <column name="Administrator ID" datatype="int(11)">ADMINISTRATOR_IDENTIFIER</column>
           <column name="Administrator Page ID" datatype="int(11)" class="lookup" lookupTable="T_ADMINISTRATOR_PAGES" lookupColumn="ADMINISTRATOR_PAGE_NAME">ADMINISTRATOR_PAGE_IDENTIFIER</column>
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Member</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="3" name="RSVP" labelColumns="womensso_sessionmanagement.T_RSVP.RSVP_IDENTIFIER">
        
        
        <table name="RSVP Details" value="T_RSVP">
           <database>womensso_sessionmanagement</database>
           <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
           <column name="RSVP ID" datatype="int(11)">RSVP_IDENTIFIER</column>
           <column name="Game ID" datatype="int(11)">GAME_IDENTIFIER</column>
           <column name="Is attending?" datatype="varchar(1)">ATTENDENCE_STATUS</column>
           <column name="Num Emails Sent" datatype="int(11)">EMAILS_SENT</column> 
           <column name="Last Day Sent" datatype="date">DAY_SENT</column>
           <column name="Memo" datatype="int(140)">MEMO</column>
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Player</KeyObject>
            <KeyObject>Game</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="4" name="GI" labelColumns="womensso_sessionmanagement.T_GI.GI_TYPE_IDENTIFIER">
        
        
        <table name="GI Details" value="T_GI">
           <database>womensso_sessionmanagement</database>
           <!-- <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
           <column name="GI ID" datatype="int(11)">GI_IDENTIFIER</column>
           <column name="GI Type" datatype="int(11)" class="lookup" lookupTable="T_GI_TYPES" lookupColumn="GI_TYPE_TEXT">GI_TYPE_IDENTIFIER</column>
           <column name="Year" datatype="year" >Year</column> 
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Player</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="5" name="Fee" labelColumns="womensso_money.T_MEMBER_FEE.FEE_DISCRIPTOR">
        
        
        <table name="Fee Details" value="T_MEMEBER_FEE">
           <database>womensso_money</database>
        <!--    <column name="Member ID" datatype="int(11)">MEMBER_IDENTIFIER</column> -->
           <column name="Fee ID" datatype="int(11)">MEMBER_FEE_IDENTIFIER</column>
           <column name="Team ID" datatype="int(11)">TEAM_IDENTIFIER</column>
           <column name="Fee Discriptor" datatype="varchar(50)" >FEE_DISCRIPTOR</column> 
           <column name="Amount" datatype="float(6,2)">Amount</column>
           <column name="Is Paid?" datatype="int(1)">IS_PAID</column>
           <column name="Date Assigned" datatype="date">DATE_ASSIGNED</column>
           <column name="Date Paid" datatype="date">DATE_PAID</column>
           <column name="Paypal Transaction ID" datatype="varchar(17)">TRANSACTION_IDENTIFIER</column>
           <column name="Memo" datatype="varchar(140)" >MEMO</column>  
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Player</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>MEMBER_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="6" name="Team" labelColumns="womensso_sessionmanagement.T_TEAMS.TEAM_NAME">
        
        
        <table name="Team Details" value="T_TEAMS">
           <database>womensso_sessionmanagement</database>
           <column name="Team ID" datatype="int(11)">TEAM_IDENTIFIER</column>
           <column name="Team Name" datatype="varchar(50)">TEAM_NAME</column>
           <column name="Division ID" datatype="int(11)" class="lookup" lookupTable="T_DIVISIONS" lookupColumn="DIVISION_NAME">DIVISION_IDENTIFIER</column>
           <column name="Team Logo" datatype="varchar(100)">TEAM_LOGO</column>
           <column name="Active RSVP?" datatype="int(1)">RSVP_ACTIVE</column>
           <column name="Substitute RSVP?" datatype="int(1)">RSVP_SUBSTITUTE</column>
           <column name="Inactive RSVP?" datatype="int(1)">RSVP_INACTIVE</column>
            
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Player</KeyObject>
            <KeyObject>Division</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>TEAM_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="7" name="Divison" labelColumns="womensso_sessionmanagement.T_DIVISIONS.DIVISION_NAME">
        
        
        <table name="Division Details" value="T_DIVISIONS">
           <database>womensso_sessionmanagement</database>
           <column name="Division ID" datatype="int(11)">DIVISION_IDENTIFIER</column>
           <column name="Division Name" datatype="varchar(50)">DIVISION_NAME</column>
           <column name="League ID" datatype="int(11)" class="lookup" lookupTable="T_LEAGUES" lookupColumn="LEAGUE_NAME">LEAGUE_IDENTIFIER</column> 
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Team</KeyObject>
            <KeyObject>League</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>DIVISION_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="8" name="League" labelColumns="womensso_sessionmanagement.T_LEAGUES.LEAGUE_NAME">
        
        
        <table name="League Details" value="T_LEAGUES">
           <database>womensso_sessionmanagement</database>
           <column name="League ID" datatype="int(11)">LEAGUE_IDENTIFIER</column>
           <column name="League Name" datatype="varchar(50)">LEAGUE_NAME</column>
           <column name="Session ID" datatype="int(11)" class="lookup" lookupTable="T_SESSIONS" lookupColumn="SESSION_NAME">SESSION_IDENTIFIER</column> 
           <column name="Start Date" datatype="date">START_DATE</column> 
           <column name="End Date" datatype="date">END_DATE</column> 
           <column name="Fee Start Date" datatype="date">FEE_START_DATE</column> 
           <column name="Fee End Date" datatype="date">FEE_END_DATE</column> 
           <column name="Fee Amount" datatype="int(11)">FEE_AMOUNT</column> 
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Division</KeyObject>
            <KeyObject>Session</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>DIVISION_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="9" name="Session" labelColumns="womensso_sessionmanagement.T_SESSIONS.SESSION_NAME">
        
        
        <table name="Session Details" value="T_SESSIONS">
            <database>womensso_sessionmanagement</database>
            <column name="Session ID" datatype="int(11)">SESSION_IDENTIFIER</column>
            <column name="Session Name" datatype="varchar(50)">SESSION_NAME</column>
            <column name="Is New?" datatype="int(1)">NEW</column>
        </table>
        
        <relatedKeyObjects>
            <KeyObject>League</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>DIVISION_IDENTIFIER</RelationshipColumn>
    </KeyObject>
    <KeyObject id="10" name="Game" labelColumns="womensso_sessionmanagement.T_GAMES.HOME_TEAM_IDENTIFIER,womensso_sessionmanagement.T_GAMES.AWAY_TEAM_IDENTIFIER,womensso_sessionmanagement.T_GAMES.DATE">
        
        
        <table name="Games Details" value="T_GAMES">
           <database>womensso_sessionmanagement</database>
           <column name="Game ID" datatype="int(11)">GAME_IDENTIFIER</column>
           <column name="Game Status ID" datatype="int(11)" class="lookup" lookupTable="T_GAME_STATUSES" lookupColumn="GAME_STATUS_NAME">GAME_STATUS_IDENTIFIER</column>
           <column name="Home Team ID" datatype="int(11)" class="lookup" lookupTable="T_TEAMS" lookupColumn="TEAM_NAME" lookupShadow="TEAM_IDENTIFIER">HOME_TEAM_IDENTIFIER</column>
           <column name="Away Team ID" datatype="int(11)" class="lookup" lookupTable="T_TEAMS" lookupColumn="TEAM_NAME" lookupShadow="TEAM_IDENTIFIER">AWAY_TEAM_IDENTIFIER</column>
           <column name="Home Division ID" datatype="int(11)" class="lookup" lookupTable="T_DIVISIONS" lookupColumn="DIVISION_NAME" lookupShadow="DIVISION_IDENTIFIER">HOME_DIVISION_IDENTIFIER</column>
           <column name="Away Division ID" datatype="int(11)" class="lookup" lookupTable="T_DIVISIONS" lookupColumn="DIVISION_NAME" lookupShadow="DIVISION_IDENTIFIER">AWAY_DIVISION_IDENTIFIER</column>
           <column name="Home League ID" datatype="int(11)" class="lookup" lookupTable="T_LEAGUES" lookupColumn="LEAGUE_NAME" lookupShadow="LEAGUE_IDENTIFIER">HOME_LEAGUE_IDENTIFIER</column>
           <column name="Away League ID" datatype="int(11)" class="lookup" lookupTable="T_LEAGUES" lookupColumn="LEAGUE_NAME" lookupShadow="LEAGUE_IDENTIFIER">AWAY_LEAGUE_IDENTIFIER</column>
           <column name="Session ID" datatype="int(11)" class="lookup" lookupTable="T_SESSIONS" lookupColumn="SESSION_NAME">SESSION_IDENTIFIER</column>
           <column name="Date" datatype="date">DATE</column>
           <column name="Time" datatype="time">TIME</column>
           <column name="Field Number" datatype="varchar(5)">FIELD_NUMBER</column>
           <column name="Location ID" datatype="int(11)" class="lookup" lookupTable="T_LOCATIONS" lookupColumn="LOCATION_NAME">LOCATION_IDENTIFIER</column>
           <column name="Referee ID" datatype="int(11)" class="lookup" lookupTable="T_REFEREES" lookupColumn="NAME">REFEREE_IDENTIFIER</column>
           <column name="Home Team Points" datatype="int(11)">HOME_TEAM_POINTS</column>
           <column name="Away Team Points" datatype="int(11)">AWAY_TEAM_POINTS</column>
           <column name="Score Emails Sent" datatype="int(1)">SCORE_EMAILS_SENT</column>
           <column name="Game Notes" datatype="varchar(100)">GAME_NOTES</column>
            
        </table>
        
        <relatedKeyObjects>
            <KeyObject>Team</KeyObject>
            <KeyObject>Division</KeyObject>
            <KeyObject>Session</KeyObject>
        </relatedKeyObjects>
        
       <!-- This is the column that all of the tables within the specified relationships identify with  -->
        <RelationshipColumn>GAME_IDENTIFIER</RelationshipColumn>
    </KeyObject>
</KeyObjects>
